.App-section-subscribers {
  height: 75svh;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.App-section-publisher {
  height: 15svh;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #000;
}

.App-section-tools {
  background: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10svh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.App-section-tools button {
  font-size: 32px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 9999px;
  border: none;
  color: #a1a1aa;
  transition: all 0.25s 0s ease;
}

.App-section-tools button:hover {
  background-color: #a1a1aa33;
}

video-subscribers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  color: #FFF;
}

.OT_video-element {
  object-fit: contain !important;
}